body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #007bff;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    background-color: #d3c8c8;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #343a40;
    color: #fff;
}

thead th {
    padding: 10px;
}

tbody td {
    padding: 10px;
}

footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    padding: 10px 0;
    text-align: center;
}

